<div id="home_all">
  <% if user %>
    <h1>Welcome, <%= user[:email] %></h1>

    <div class="home_links1">
      <a href="/logout">Logout</a>
    </div>
    <div>
      <% if user[:admin] %>
        <a href="/view">View all users</a>
      <% end %>
    </div>
  <% else %>
    <h1>You are not logged in.</h1>

    <div class="home_links1">
      <a href="/login">Login</a>
    </div>
    <div>
      <a href="/register">Register</a>
    </div>
  <% end %>
</div>
