body {
    background-color: orange;
}

#home_all{
    font-family: 'Sniglet', cursive;
    margin: 3em;
}

.home_links1 {
    float: left;
    margin-right: 2em;
}

#register {
    font-family: 'Sniglet', cursive;
    margin-left: 40%;
    margin-top: 10%;
}

td {
    padding: 2.5%;
}

.error {
    color: red;
}
